**Muhammad Hassan**

**Built-in Python Data Structures**

Exercise: Write a function to reverse a list.

In [1]:
def reverse_list(lst):
    return lst[::-1]

print(reverse_list([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

Write a function to remove duplicates from a list.

In [2]:
def remove_duplicates(lst):
    return list(set(lst))

print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

Exercise: Write a function to find the largest element in a list.

In [3]:
def find_largest(lst):
    return max(lst)

print(find_largest([1, 2, 3, 4, 5]))

5

Write a function to calculate the sum of all elements in a list.

In [4]:
def sum_of_elements(lst):
    return sum(lst)

print(sum_of_elements([1, 2, 3, 4, 5]))

15

Write a function to access the second element in a tuple.

In [5]:
def second_element(tpl):
    return tpl[1]

print(second_element((1, 2, 3, 4, 5)))

2

Write a function to concatenate two tuples.

In [6]:
def concatenate_tuples(tpl1, tpl2):
    return tpl1 + tpl2

print(concatenate_tuples((1, 2), (3, 4)))

(1, 2, 3, 4)

Write a function to find the length of a tuple.

In [8]:
def length_of_tuple(tpl):
    return len(tpl)

print(length_of_tuple((1, 2, 3, 4, 5)))

5

Write a function to add an element to a set.

In [7]:
def add_element(s, elem):
    s.add(elem)
    return s

print(add_element({1, 2, 3}, 4))

{1, 2, 3, 4}

 Write a function to return the union of two sets

In [9]:
def union_sets(s1, s2):
    return s1.union(s2)

print(union_sets({1, 2}, {3, 4}))

{1, 2, 3, 4}

 Write a function to return the intersection of two sets.

In [10]:
def intersection_sets(s1, s2):
    return s1.intersection(s2)

print(intersection_sets({1, 2, 3}, {2, 3, 4}))

{2, 3}

Write a function to access a value by its key.

In [11]:
def get_value(d, key):
    return d.get(key)

print(get_value({'a': 1, 'b': 2}, 'b'))

2

 Write a function to add a key-value pair to a dictionary.

In [12]:
def add_key_value(d, key, value):
    d[key] = value
    return d

print(add_key_value({'a': 1}, 'b', 2))

{'a': 1, 'b': 2}

Write a function to iterate over a dictionary and print keys and values.

In [13]:
def iterate_dictionary(d):
    for key, value in d.items():
        print(f"{key}: {value}")

iterate_dictionary({'a': 1, 'b': 2})

a: 1
b: 2